.cart {
  display: flex;
  padding: 20px;
  background-color: #ffffff;
  height: max-content;
  max-width: 1800px;
  margin: auto;
}

.cart__left {
  flex: 1;
  margin-right: 15px;
}

.cart__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
